* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}

body {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
}

a {
	text-decoration: none;
	color: #333;
}

/* Index animation */
.indexBody {
	background-color: whitesmoke;
}

#typewriter {
	color: #333;
}

.wrapper {
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;
	text-align: center;
	margin-top: 250px;
	height: 100px;
	width: 100vw;
}

.wrapper h1 {
	font-size: 4rem;
	font-family: "Courier New", Courier, monospace;
	color: #333;
	border-right: 0.15em solid #333;
	margin: 0 auto;
	letter-spacing: 0.15em;
	animation: blink-caret 0.6s step-end infinite;
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: #333;
	}
}

.enter {
	display: grid;
	grid-template-columns: 1fr;
	height: auto;
	width: 100vw;
	background: transparent;
	margin-top: 80px;
}

.enter a {
	font-family: "Courier New", Courier, monospace;
	font-size: 3rem;
	color: #333;
	text-decoration: none;
	font-weight: lighter;
	text-align: center;
}

.enter a:hover {
	font-size: 3.8rem;
	font-weight: bold;
}

.homeHeader {
	display: flex;
	align-items: center;
	background: whitesmoke;
	border-bottom: 1px solid rgb(10, 10, 71);
	grid-area: homeHeader;
}

.headerText h1 {
	text-align: center;
	margin-left: 400px;
	font-size: 2.5rem;
	font-weight: bold;
	color: rgb(10, 10, 71);
}

.homeHeader .hamburger {
	display: inline-block;
	height: 100%;
	width: 150px;
}

.hamburger i {
	font-size: 60px;
	margin-top: 20px;
	color: rgb(10, 10, 71);
	cursor: pointer;
}

.homeNav {
	float: left;
	width: 250px;
	height: 100vh;
	background: whitesmoke;
}

.homeNav li {
	display: block;
	list-style-type: none;
	text-align: left;
	padding-top: 20px;
	padding-left: 20px;
}

.homeNav li a {
	display: block;
	text-decoration: none;
	height: 100%;
	width: 100%;
	font-size: 1.9rem;
	font-weight: bold;
	color: rgb(10, 10, 71);
	padding-bottom: 15px;
}

.homeNav li:hover {
	background: #efdb4f;
}

#home {
	background: #f8df20;
}

#home img {
	width: auto;
	height: 90vh;
}

.tabContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tabContent h2 {
	font-size: 3rem;
	margin-top: 30px;
}

.tabContent h2:hover {
	color: black;
	border-bottom: 2px solid #efdb4f;
}
